body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('Homepage.jpg');
    background-size: cover;
    background-position: center;
    
    }

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
  }
  
  .navbar {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    max-height: 100px;
    margin: 0 auto;
  }
  
  .logo img {
    width: 70px; /* Adjust size as needed */
  }
  
  .title h1 {
    color: #fff;
    margin: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }