/* Contact List Container Styles */
#contactList {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Three narrower columns */
    grid-gap: 20px; /* Space between the cards */
    justify-content: center;
    margin-top: 20px;
}

/* Media Query for screens with width 800px and below */
@media (max-width: 800px) {
    #contactList {
        grid-template-columns: repeat(2, 1fr); /* Two columns on screens 800px and below */
    }
}

/* Media Query for screens with width 500px and below */
@media (max-width: 500px) {
    #contactList {
        grid-template-columns: 1fr; /* One column on screens 500px and below */
    }
}

/* Contact Card Styles */
.contact-card {
    background-color: var(--beige); /* Background color of the cards */
    border: 2px solid var(--brown); /* Border around each card */
    border-radius: 10px; /* Rounded corners for the cards */
    padding: 20px; /* Padding inside the cards */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the cards */
    overflow: hidden; /* Hide any overflow of content */
    white-space: normal; /* Allow line breaks */
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

/* Contact Card Text Styles */
.contact-card h2 {
    margin: 0 0 10px; /* Margin for the contact name */
    color: var(--brown);
}

.contact-card p {
    margin: 5px 0; /* Margin for the contact information */
    color: var(--gray);
}